<!DOCTYPE html>
<html lang="en">
<head>
    <title>Attendance Management System</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/login" method="POST">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" placeholder="Username" id="username" name="username">

        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password">

        <span id="login_error" style="color: red; display: none; font-size: 12px;">Invalid username or password</span>

        <button type="submit">Log In</button>
        <h3 style="padding-top: 20px;">Don't have an account? <a href="/registration">Register now</a></h3>
    </form>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');
        if (error === 'auth') {
            document.getElementById('login_error').style.display = 'block';
        }
    </script>
</body>
</html>
